<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(37.16031655, -1.40625);
    var mapOptions = {
      panControl: false,
      // panControlOptions: {
      //   position: google.maps.ControlPosition.RIGHT_BOTTOM
      // },
      zoomControl: false,
      // zoomControlOptions: {
      //   position: google.maps.ControlPosition.BOTTOM_RIGHT
      // },
      mapTypeControl: false,
      zoom: 2,
      center: myLatlng
    };
    var map = new google.maps.Map(document.getElementById('world-map-canvas'), mapOptions);

    var locations = [
      <% @places.each do |place| %>
        <% if place == @places.last %>
        ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>]
        <% else %>
        ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>],
        <% end %>
      <% end %>
    ];

    var infowindow = new google.maps.InfoWindow();

    var len = locations.length,
        marker,
        i;

    for (i = 0; i < len; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        animation: google.maps.Animation.DROP
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
          // map.setZoom(14);
          map.setCenter(marker.getPosition());
        }
      })(marker, i));
    }

    // function for map panning
    function mapPanTo() {
      var lat = parseFloat(this.dataset.lat),
          lng = parseFloat(this.dataset.lng),
          newLatLng = new google.maps.LatLng(lat, lng);
      map.panTo(newLatLng);
      map.setZoom(parseInt(this.dataset.zoom));
    }

    // event handlers for buttons
    google.maps.event.addDomListener(document.getElementById('northAmerica'), 'click', mapPanTo);
    google.maps.event.addDomListener(document.getElementById('southAmerica'), 'click', mapPanTo);
    google.maps.event.addDomListener(document.getElementById('africa'), 'click', mapPanTo);
    google.maps.event.addDomListener(document.getElementById('europe'), 'click', mapPanTo);
    google.maps.event.addDomListener(document.getElementById('asia'), 'click', mapPanTo);
    google.maps.event.addDomListener(document.getElementById('australia'), 'click', mapPanTo);
    google.maps.event.addDomListener(document.getElementById('worldView'), 'click', mapPanTo);

    // event handlers for links
    <% @places.sort_by { |place| place.name }.each.with_index(1) do |place, index| %>
      google.maps.event.addDomListener(document.getElementById('place<%= index %>'), 'click', mapPanTo);
    <% end %>
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="col-xs-12 map-buttons">
  <button type="button" class="btn btn-danger" id="worldView" data-lat="37.16031655" data-lng="-1.40625" data-zoom="2">World View</button>
  <button type="button" class="btn btn-warning" id="northAmerica" data-lat="40.71395583" data-lng="-99.66796875" data-zoom="4">N. America</button>
  <button type="button" class="btn btn-warning" id="southAmerica" data-lat="-18.31281085" data-lng="-58.7109375" data-zoom="4">S. America</button>
  <button type="button" class="btn btn-warning" id="africa" data-lat="2.10889865" data-lng="21.4453125" data-zoom="4">Africa</button>  
  <button type="button" class="btn btn-warning" id="europe" data-lat="50.84757295" data-lng="19.3359375" data-zoom="4">Europe</button>  
  <button type="button" class="btn btn-warning" id="asia" data-lat="21.61657935" data-lng="102.48046875" data-zoom="4">Asia</button>  
  <button type="button" class="btn btn-warning" id="australia" data-lat="-27.83907605" data-lng="134.82421875" data-zoom="4">Australia</button>
</div>

<div class="map-transparent-booyah-box-scrollable col-xs-4 col-sm-2">
  <h4>Number of places: <%= @places.count %></h4>
  <br />
  <% @places.sort_by { |place| place.name }.each.with_index(1) do |place, index| %>
    <p>
      <a href="#" id="place<%= index %>" data-lat="<%= place.latitude %>" data-lng="<%= place.longitude %>" data-zoom="18">
        <%= index %>:&nbsp;&nbsp;<%= place.name %>
      </a>
    </p>
  <% end %>
</div>

<div id="world-map-canvas"></div>